nav{
    background-color: unset;

    box-shadow: unset;
}

.card{
   border-color: #3300aa;
}

body.main{
    background: linear-gradient(to right, #2c3e50, #4ca1af); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
