{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue sur le Dashboard' %}

{% block page_content %}
    <p>Admin</p>
{% endblock %}
