{% extends '@EasyAdmin/welcome.html.twig' %}
{% block page_title 'Dashboard de Hellsaya' %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-3">
            <h4>Nombre de NDD :</h4>
            <h5>{{ count }}</h5>
            <h4>Noms des NDD :</h4>
            {% for ndd in ndds %}
                <div>
                    <p>- {{ ndd.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
